body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 0;
}

h1 {
    font-size: 2rem;
    line-height: 1.3em;
}

p {
    margin-bottom: 1.6em;
}

.fotito {
    display: flex;
    justify-content: center;
}

.foto {
     display: flex;
     justify-content: center;
 }

.foto img {
    width: 300px;
}

.container {
    width:  85%;
    max-width:  850px;
    margin: 0 auto;
}

.header {
    background: rgba(0, 0, 0, 0);
    /* background-color: white; */
    color: black;
    padding: 2rem 0;

    position: fixed;
    left: 0;
    right: 0;
    right: 0;

}

    .header a {
        color: black;
        text-decoration: none;
    }

.logo-nav-container {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 20%;
/*  letter-spacing: 20px;
    font-size: 2em; */
}

.menu-icon {
    display: none;
}

/*
.navigation ul{
    display: none;
}

 .navigation ul li {
    display: inline-block;
 }
    .navigation ul li a {
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.4s linear;
        border-radius: 5px;
    }

                .navigation ul li a:hover {
                    background-color: #4a4a4a;
                }   */

.main {
    padding-top: 12rem;
}

.footer {
    background: #f2f2f2;
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
}

/* @media only screen and (max-width: 825px) {  */

    .menu-icon {
            display: block;
            cursor: pointer;
            padding: 0.5rem 1rem;
        }

    .navigation{
        width: 100%;
        margin-top: 1rem;
    }
        .navigation ul li {
            display: block;
        }

        .navigation ul {
            display: none;
        }

        .navigation ul.show {
            display: block;
        }
    
        .navigation ul li a {
            display: block;
            padding: 0.5rem 0;
            transition: all 0.4s linear;
            border-radius: 5px;
        }
    
        .navigation ul li a:hover {
            background-color: #4a4a4a;
        }


@media only screen and (max-width: 900px) {
    .main{
        padding-top: 0;
    }
}